<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book notes</title>
</head>
<body>
    <div class="box">
        <h1>Books</h1>
        
         <% books.forEach(book => { %>
            <h2><%= book.title %></h2>
            <p><%= book.description %></p>
         <% }) %>   

    </div>
</body>
</html>